BPEL-WSO2 BPS/ComputePriceService/src/main/resources/ComputePriceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://computeprice.spec.bpel.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://computeprice.spec.bpel.wso2.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://computeprice.spec.bpel.wso2.org">
            <xs:element name="computePrice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="computePriceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="computePriceRequest">
        <wsdl:part name="parameters" element="ns:computePrice"/>
    </wsdl:message>
    <wsdl:message name="computePriceResponse">
        <wsdl:part name="parameters" element="ns:computePriceResponse"/>
    </wsdl:message>
    <wsdl:portType name="ComputePriceServicePortType">
        <wsdl:operation name="computePrice">
            <wsdl:input message="ns:computePriceRequest" wsaw:Action="urn:computePrice"/>
            <wsdl:output message="ns:computePriceResponse" wsaw:Action="urn:computePriceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ComputePriceServiceSoap11Binding" type="ns:ComputePriceServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="computePrice">
            <soap:operation soapAction="urn:computePrice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ComputePriceServiceSoap12Binding" type="ns:ComputePriceServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="computePrice">
            <soap12:operation soapAction="urn:computePrice" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ComputePriceServiceHttpBinding" type="ns:ComputePriceServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="computePrice">
            <http:operation location="computePrice"/>
            <wsdl:input>
                <mime:content type="text/xml" part="computePrice"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="computePrice"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ComputePriceService">
        <wsdl:port name="ComputePriceServiceHttpSoap11Endpoint" binding="ns:ComputePriceServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ComputePriceService"/>
        </wsdl:port>
        <wsdl:port name="ComputePriceServiceHttpSoap12Endpoint" binding="ns:ComputePriceServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ComputePriceService"/>
        </wsdl:port>
        <wsdl:port name="ComputePriceServiceHttpEndpoint" binding="ns:ComputePriceServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ComputePriceService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
